# {{ ansible_managed }}

{% for name,config in smartd_devices.items() | d([]) %}
	{{- name -}}
	{%- if config.type|d(smartd_default_type) != 'auto' %}
        {{- " -d " }}{{ config.type|d(smartd_default_type) -}}
    {%- endif %}
    {%- if 'never' not in config.nocheck|d(smartd_default_nocheck) %}
	    {{- " -n " }}{{ config.nocheck|d(smartd_default_nocheck) -}}
    {%- endif %}
    {%- if 'normal' != config.check_type|d(smartd_default_check_type) %}
	    {{- " -T " }}{{ config.check_type | d(smartd_default_check_type) -}}
    {%- endif %}
	{%- if 'ata_offline_testing' in config %}
		{{- " -o " }}{{ config.ata_offline_testing -}}
	{%- endif %}
	{{- " -S " }}{% if config.attribute_autosave | d(smartd_default_attribute_autosave) %}
		{{- "on" -}}
	{%- else %}
		{{- "off" -}}
	{%- endif %}
	{%- if config.check_health_return_status | d(smartd_default_check_health_return_status) %}
		{{- " -H" -}}
	{%- endif %}
	{%- for error_type in config.report_error_types | d(smartd_default_report_error_types) %}
		{{- " -l " }}{{ error_type -}}{{' \\\n'}}
	{%- endfor %}
	{%- for option in config.non_smart_settings | d(smartd_default_non_smart_settings) %}
		{{- " -e " }}{{ option -}}{{' \\\n'}}
	{%- endfor %}
	{%- if config.test_schedule | d(smartd_default_test_schedule) %}
		{{- " -s " }}{{ config.test_schedule | d(smartd_default_test_schedule) -}}{{' \\\n'}}
	{%- endif %}
	{%- if 'mail_recipients' in config or smartd_default_mail_recipients %}
        {{- " -m " }}{{ config.mail_recipients | d(smartd_default_mail_recipients) | join(",") -}}{{' \\\n'}}
		{{- " -M " }}{{ config.mail_frequency | d(smartd_default_mail_frequency) -}}{{' \\\n'}}
		{%- if config.mail_script | d(smartd_default_mail_script) %}
			{{- " -M exec " }}{{ config.mail_script | d(smartd_default_mail_script) -}}{{' \\\n'}}
		{%- endif %}
	{%- endif %}
	{%- if config.report_ata_failure | d(smartd_default_report_ata_failure) %}
		{{- " -f" -}}
	{%- endif %}
	{%- if config.report_ata_prefail | d(smartd_default_report_ata_prefail) %}
		{{- " -p" -}}
	{%- endif %}
	{%- if config.report_ata_usage | d(smartd_default_report_ata_usage) %}
		{{- " -u" -}}
	{%- endif %}
	{%- for id in config.ignore_ata_failure_ids | d([]) %}
		{{- " -i " }}{{ id -}}{{' \\\n'}}
	{%- endfor %}
	{%- for id in config.ignore_ata_usage_ids | d([]) %}
		{{- " -I " }}{{ id -}}{{' \\\n'}}
	{%- endfor %}
	{%- for id in config.report_raw_ids | d([]) %}
		{{- " -R " }}{{ id -}}{{' \\\n'}}
	{%- endfor %}
    {%- if '197' != config.ata_pending_id|d(smartd_default_ata_pending_id) %}
	    {{- " -C " }}{{ config.ata_pending_id | d(smartd_default_ata_pending_id) -}}
    {%- endif %}
    {%- if '198' != config.ata_uncorrectable_id|d(smartd_default_ata_uncorrectable_id) %}
	    {{- " -U " }}{{ config.ata_uncorrectable_id | d(smartd_default_ata_uncorrectable_id) -}}
    {%- endif %}
    {{- " -W " }}{{ config.temperature_report_diff | d(smartd_default_temperature_report_diff) }}{{ "," }}{{ config.temperature_report_info | d(smartd_default_temperature_report_info) }}{{ "," }}{{ config.temperature_report_crit | d(smartd_default_temperature_report_crit) -}}
    {%- for bug in config.firmware_bugs | d([]) %}
		{{- " -F " }}{{ bug -}}{{' \\\n'}}
	{%- endfor %}
	{%- for format in config.vendor_formats | d([]) %}{{ " -v " }}
		{{- format -}}{{' \\\n'}}
	{%- endfor %}
    {%- if 'use' != config.preset_mode|d(smartd_default_preset_mode) %}
	    {{- " -P " }}{{ config.preset_mode | d(smartd_default_preset_mode) -}}
    {%- endif %}
    {{'\n\n'}}
{% endfor %}
